html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

body {
	line-height: 1
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th,td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,blockquote {
	quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

body {
	font-family: sans-serif;
	padding: 0 0;
	overflow-y: scroll;
	background-color: #f7f6ed;
	color: #61595c;
	font-family: "Droid Serif", serif;
	font-size: 15px
}

a {
	color: #a21226;
	text-decoration: none
}

.controlTab {
	background: #fefefd;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 5px 5px;
	width: 350px;
	margin-top: 5px;
	margin-left: 5px;
	overflow: hidden;
	*zoom: 1;
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	float: left;
	position: relative;
	clear: left
}

#controls-toggles {
	overflow: hidden;
	*zoom: 1;
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	float: left;
	position: relative;
}

.controlTab section, section:last-child {
	overflow: hidden;
	*zoom: 1;
	margin-bottom: 1em
}

.controlTab h1 {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 14px
}

.controlTab .toggle {
	display: block;
	width: 50%;
	display: inline;
	float: left;
	color: inherit;
	line-height: 1;
	position: relative;
	margin-bottom: 3px
}

.controlTab .toggle.disabled {
	color: #b0acad
}

.controlTab .toggle.active:hover {
	color: #a21226
}

.controlTab .toggle label {
	display: block;
	padding-left: 18px;
	height: 2em;
	overflow: hidden
}

.controlTab .toggle span {
	display: block;
	width: 8px;
	height: 8px;
	position: absolute;
	left: 0;
	margin-top: 1px;
	margin-left: 2px;
	margin-bottom: 2px;
	margin-right: 8px;
	background-color: transparent;
	border: 1px solid #fefefd;
	outline: 1px solid #61595c
}

.controlTab .toggle.active span {
	background-color: #a21226
}

.controlTab input[type="range"] {
	-webkit-appearance: none;
	background: #aeaead;
	width: 80%;
	margin: 4px 0
}

.texSliders input[type="range"] {
	-webkit-appearance: none;
	background: #aeaead;
	width: 100%;
	margin: 4px 0
}


::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #807a7c;
	border: 1px solid #fefefd;
	width: 10px;
	height: 10px;
	cursor: move
}

#viewer-div {
	background: #fefefd;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0px;
	left: 365px;
	margin-top: 5px;
	margin-left: 5px;
}

.loading {
	min-height: 120px;
	background:
		url('data:image/gif;base64,R0lGODlhHAAEAJEAAK2lpaUQKf///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFDwACACwAAAAAHAAEAAACF4wjKcCg214DB6kp4201M+9sTCeGCVYWACH5BAUPAAIALAAAAAAMAAQAAAINhCEpwXGomjtqtVdlAQAh
+QQFDwACACwIAAAADAAEAAACDYQhKcFxqJo7arVXZQEAIfkEBQ8AAgAsEAAAAAwABAAAAg2EISnBcaiaO2q1V2UBACH5BAkPAAIALAAAAAAcAAQAAAIOlI+pB+0Ll3uxmmmzmAUAOw==')
		center center no-repeat
}


#tooltip {
	position: absolute;
	z-index: 100;
	background: #fefefd;
	border: 1px solid #61595c;
	padding: 3px 4px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	max-width: 200px;
	display: none
}
